__pychache__/
build/
packages.egg-info/
dist/

venv
.idea/

.env

/src/code_review__web/celerybeat-schedule
/.mypy_cache/
/.ruff_cache/
/queries.yaml/
/src/code_review__web/static/admin/
/src/code_review__web/.mypy_cache/
