{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if user_files %}
        <div class="section files">
        {% for user_file in user_files %}
            <div class="container"><a href="#">
                {% if user_file.is_reviewed == 'reviewed' %}
                    <div class="row reviewed"></div>
                {% elif user_file.is_reviewed == 'in_review' %}
                    <div class="row in-review"></div>
                {% else %}
                    <div class="row error"></div>
                {% endif %}
                <div class="row label">
                    {{ user_file }}
                </div>
            </a></div>
        {% endfor %}
        </div>
    {% else %}
        <div class="section">
            <div class="container">
                <div class="row">
                    No one file
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}

