{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if user_files %}
        {% for user_file in user_files %}
            <div class="container"><a href="files/{{ user_file.id }}">
                {% if user_file.is_reviewed == 'reviewed_ok' %}
                    <div class="row reviewed"></div>
                {% elif user_file.is_reviewed == 'in_review' %}
                    <div class="row in-review"></div>
                {% else %}
                    <div class="row error"></div>
                {% endif %}
                <div class="row label">
                    {{ user_file }}
                </div>
            </a></div>
        {% endfor %}
    {% else %}
        <div class="container">
            <div class="row">
                No one file
            </div>
        </div>
    {% endif %}
{% endblock content %}

